* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

form {
  display: flex;
  flex-direction: column;   /* stack items vertically */
  align-items: center;      /* center horizontally */
  min-height: 100vh;        /* full screen height */
  gap: 20px;
  
}

h1 {
  text-align: center;
}

form div{
  flex-wrap: wrap;
  grid-row: 1fr 2;
  margin: 20px 10%;
  
}

input {
  background-color: black;
  color: white;
  padding: 20px 40px;
  border: 1px solid white;
}


h2 {
  margin: 20px 40px;
}
.card img {
  height: 70px;
  border-radius: 50%;
  margin: 10px;
  display: block;
  margin: 10px auto;
}
.card {
  background-color: white;
  color: black;
  height: auto;
  width: 200px;
  border-radius: 10px;
  margin-left: 20px;
  display: grid;
  grid-template-rows: 2fr auto;
}
.detail {
  margin: 10px 10px;
  font-size: large;
}
.detail p{
    margin-top: 10px;
}
.submit{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: red;
    font-weight: 500;
    width: fit-content;
    margin: 20px ;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.submit:hover{
    background-color: grey;
}

.user-card{
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
  flex-direction: row;
  gap:10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;

}
